@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: gold;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

body{
  font-family: 'Permanent Marker', cursive;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

img {
  height: 350px;
  width: 350px;
  padding: 5px;
  display: inline-flex;
  border: .5px solid black;
}

li {
  list-style-type: none;
}

button {
  font-family: 'Permanent Marker', cursive;
  background-color: gold;
  width: 150px;
}

hr {
  border: 1.5px dashed black;
}

.toggleClass {
  height: 350px;
  width: 350px;
  padding: 5px;
  display: inline-flex;
  font-size: 2.5em;
  color: gold;
  background-color: black;
  border: 1.5px solid gold;
  vertical-align: middle;
}